@font-face {
    font-family: 'ChesnaGroteskMedium';
    src: url('fonts/chesnagrotesk-medium.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'MinimaSimpleRegular';
    src: url('fonts/minimasimple-regular.ttf') format('truetype');
  }
  
  body {
    background-image: url("/assets/imgs/wl.png");
  }

  .center {
    text-align: center;
    font-family: 'ChesnaGroteskMedium';
    padding-bottom: 10px;
  }
  
  .navbar-nav .npav-link {
    font-family: 'MinimaSimpleRegular';
  }
  
  i {
    margin: 5px;
    text-align: center;
    text-shadow: 1px 2px rgba(0,0,0,.5);
  }
  
  a {
    color: white;
   }

  .social-icons {
    text-align: center;
    text-shadow: 1px 2px rgba(0,0,0,.5);
  }

  .footer {
    position: absolute;
    text-align: center;
    color: white;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
  }


  
  
  
  